<div id="background">
  <div id="background-image">

  <div *ngIf="isInternetExplorer" class="alert alert-warning alert-dismissable fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>This web application may not work properly with Internet Explorer</p>
  </div>

    <header>
      <div id="headerContainer" class="row">
        <div class="col-lg-5">
          <a id="logo" href="https://www.sogehtsoftware.de/home">
            <img class="media-object" src="../assets/images/logo.png" alt="Saxonia Systems Logo">
          </a>
        </div>
        <section id="searchBox" class="col-lg-4">
          <app-filter></app-filter>
        </section>
        <div id="socialIcons" class="col-lg-3">
            <a href="https://www.youtube.com/user/SaxoniaSystemsAG" target="_blank">
              <img src="../assets/images/social_youtube.png" alt="YouTube">
            </a>
            <a href="https://www.facebook.com/saxoniasystems" target="_blank">
              <img src="../assets/images/social_facebook.png" alt="Facebook">
            </a>
            <a href="https://plus.google.com/107874747948397932609/posts" target="_blank">
              <img src="../assets/images/social_google_plus.png" alt="Google Plus">
            </a>
            <a href="https://twitter.com/SaxoniaSystems" target="_blank">
              <img src="../assets/images/social_twitter.png" alt="Twitter">
            </a>
            <a href="https://www.xing.com/companies/saxoniasystemsag" target="_blank">
              <img src="../assets/images/social_xing.png" alt="Xing">
            </a>
            <a href="http://blog.so-geht-software.de/" target="_blank">
              <img src="../assets/images/social_wordpress.png" alt="Blog">
            </a>
         <a href="https://github.com/saxsys" target="_blank">
           <img src="../assets/images/social_github.png" alt="GitHub">
          </a>
        </div>
      </div>
    </header>

    <main>
      <div id="overlay">
        <section id="tagContainer">
          <app-tag *ngFor="let tag of tags, let i = index" [value]=tag [isHeader]=true [index]=i></app-tag> 
        </section>
        <div id="noProjects" class="row" *ngIf="getArraysForEachRow().length == 0">
          <h3>{{ notFoundMessage }}</h3>
        </div>
        <div class="row" *ngFor="let innerArray of getArraysForEachRow()">
          <div [class]="'card-container ' + getColumnWidthClass()" *ngFor="let project of innerArray">
            <div class="card" >
              <app-project-tile [project]=project></app-project-tile>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <footer>
    &copy; {{ currentYear }} Saxonia Systems AG
  </footer>
</div>